-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: vdrs
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activitylogs`
--

DROP TABLE IF EXISTS `activitylogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activitylogs` (
  `activity_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `title` varchar(160) NOT NULL,
  `description` text DEFAULT NULL,
  `category` enum('ACTIVITY','EVENT') NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `duration_min` int(11) GENERATED ALWAYS AS (timestampdiff(MINUTE,concat(`log_date`,' ',`start_time`),concat(`log_date`,' ',`end_time`))) STORED,
  `assigned_by` bigint(20) NOT NULL,
  `assigned_to` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`activity_id`),
  KEY `fk_activitylogs_vessel` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylogs`
--

LOCK TABLES `activitylogs` WRITE;
/*!40000 ALTER TABLE `activitylogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitylogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditlog`
--

DROP TABLE IF EXISTS `auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditlog` (
  `audit_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `entity` varchar(80) NOT NULL,
  `entity_id` bigint(20) NOT NULL,
  `action` enum('CREATE','UPDATE','DELETE','LOCK','UNLOCK') NOT NULL,
  `payload_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  PRIMARY KEY (`audit_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditlog`
--

LOCK TABLES `auditlog` WRITE;
/*!40000 ALTER TABLE `auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cargomoves`
--

DROP TABLE IF EXISTS `cargomoves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cargomoves` (
  `move_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `cargo_name` varchar(160) NOT NULL,
  `op_type` enum('LOAD','DISCHARGE','SHIFT') NOT NULL,
  `qty` decimal(12,3) NOT NULL,
  `unit` enum('MT','M3','TEU','PKG','UNIT') NOT NULL,
  `imdg_class` varchar(20) DEFAULT NULL,
  `un_number` varchar(20) DEFAULT NULL,
  `location_from` varchar(80) DEFAULT NULL,
  `location_to` varchar(80) DEFAULT NULL,
  `ref_doc` varchar(120) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`move_id`),
  KEY `fk_cargomoves_vessel` (`vessel_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cargomoves`
--

LOCK TABLES `cargomoves` WRITE;
/*!40000 ALTER TABLE `cargomoves` DISABLE KEYS */;
/*!40000 ALTER TABLE `cargomoves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crewlist`
--

DROP TABLE IF EXISTS `crewlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crewlist` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(120) NOT NULL,
  `email` varchar(120) DEFAULT NULL,
  `nationality` varchar(60) DEFAULT NULL,
  `category` enum('CREW','PASSENGER','VISITOR','CONTRACTOR','ADMIN','OFFICE') NOT NULL,
  `crew_role` varchar(80) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_crew` (`full_name`,`email`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crewlist`
--

LOCK TABLES `crewlist` WRITE;
/*!40000 ALTER TABLE `crewlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `crewlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dailystatus`
--

DROP TABLE IF EXISTS `dailystatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dailystatus` (
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `status` enum('OPEN','LOCKED') DEFAULT 'OPEN',
  `locked_by` bigint(20) DEFAULT NULL,
  `locked_at` datetime DEFAULT NULL,
  PRIMARY KEY (`vessel_id`,`log_date`),
  KEY `log_date` (`log_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dailystatus`
--

LOCK TABLES `dailystatus` WRITE;
/*!40000 ALTER TABLE `dailystatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `dailystatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `garbagelogs`
--

DROP TABLE IF EXISTS `garbagelogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `garbagelogs` (
  `garb_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `entry_time` time NOT NULL,
  `category` enum('PLASTICS','FOOD_WASTE','DOMESTIC_WASTE','COOKING_OIL','ASHES','OPERATIONAL_WASTE','ANIMAL_CARCASS','FISHING_GEAR') NOT NULL,
  `qty_m3` decimal(10,3) NOT NULL,
  `method` enum('GENERATED','INCINERATED','LANDED','RETAINED','DISCHARGED') NOT NULL,
  `latitude` decimal(9,6) DEFAULT NULL,
  `longitude` decimal(9,6) DEFAULT NULL,
  `port` varchar(120) DEFAULT NULL,
  `receipt_ref` varchar(120) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`garb_id`),
  KEY `fk_garbagelogs_vessel` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `garbagelogs`
--

LOCK TABLES `garbagelogs` WRITE;
/*!40000 ALTER TABLE `garbagelogs` DISABLE KEYS */;
INSERT INTO `garbagelogs` VALUES (2,1,'2025-10-02','14:19:08','DOMESTIC_WASTE',123.000,'INCINERATED',43.230000,12.340000,'Asa','qswer','Aloi'),(4,1,'2025-10-07','08:48:44','ASHES',123.400,'GENERATED',11.000000,22.000000,'LALA','Kamil','Trashing'),(5,1,'2025-10-21','14:30:23','PLASTICS',22.000,'INCINERATED',22.000000,11.000000,'qseqe','eqwe','eqwe'),(6,3,'2025-12-30','10:27:03','ASHES',0.480,'INCINERATED',0.000042,-0.000040,'Asa','qswer','test');
/*!40000 ALTER TABLE `garbagelogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `navigationreports`
--

DROP TABLE IF EXISTS `navigationreports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `navigationreports` (
  `nav_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `report_time` time NOT NULL,
  `latitude` decimal(9,6) NOT NULL,
  `longitude` decimal(9,6) NOT NULL,
  `course_deg` decimal(5,1) DEFAULT NULL,
  `speed_kn` decimal(5,2) DEFAULT NULL,
  `draught_fwd_m` decimal(5,2) DEFAULT NULL,
  `draught_aft_m` decimal(5,2) DEFAULT NULL,
  `weather` varchar(120) DEFAULT NULL,
  `sea_state` varchar(60) DEFAULT NULL,
  `visibility_nm` decimal(4,1) DEFAULT NULL,
  `destination` varchar(120) DEFAULT NULL,
  `eta` time DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`nav_id`),
  KEY `fk_navigationreports_vessel` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `navigationreports`
--

LOCK TABLES `navigationreports` WRITE;
/*!40000 ALTER TABLE `navigationreports` DISABLE KEYS */;
/*!40000 ALTER TABLE `navigationreports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oilrecordbook`
--

DROP TABLE IF EXISTS `oilrecordbook`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `oilrecordbook` (
  `oil_id` int(11) NOT NULL AUTO_INCREMENT,
  `vessel_id` int(11) NOT NULL DEFAULT 0,
  `log_date` date NOT NULL,
  `operation` varchar(255) NOT NULL,
  `date_time` time NOT NULL DEFAULT curtime(),
  `tank` varchar(100) DEFAULT NULL,
  `qty_mt` decimal(10,2) DEFAULT 0.00,
  `remarks` text DEFAULT NULL,
  `category` enum('PART1','PART2') NOT NULL DEFAULT 'PART1',
  `latitude` decimal(9,6) DEFAULT NULL,
  `longitude` decimal(9,6) DEFAULT NULL,
  PRIMARY KEY (`oil_id`),
  KEY `vessel_id` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oilrecordbook`
--

LOCK TABLES `oilrecordbook` WRITE;
/*!40000 ALTER TABLE `oilrecordbook` DISABLE KEYS */;
/*!40000 ALTER TABLE `oilrecordbook` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pob_stints`
--

DROP TABLE IF EXISTS `pob_stints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pob_stints` (
  `stint_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `person_id` bigint(20) NOT NULL,
  `category` enum('CREW','PASSENGER','VISITOR','CONTRACTOR') NOT NULL,
  `crew_role` varchar(80) DEFAULT NULL,
  `embark_date` date NOT NULL,
  `disembark_date` date DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`stint_id`),
  UNIQUE KEY `uq_stint` (`vessel_id`,`person_id`,`embark_date`),
  KEY `ix_asof1` (`vessel_id`,`embark_date`),
  KEY `ix_asof2` (`disembark_date`),
  KEY `ix_person` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pob_stints`
--

LOCK TABLES `pob_stints` WRITE;
/*!40000 ALTER TABLE `pob_stints` DISABLE KEYS */;
INSERT INTO `pob_stints` VALUES (1,1,31,'CREW','Bosun','2025-12-22','2025-12-31',NULL),(3,1,44,'CREW','3rd Engineer','2025-12-22','2025-12-31',NULL),(4,3,31,'CREW','Bosun','2025-12-30','2026-01-16',NULL),(5,3,34,'VISITOR','Chief Officer','2025-12-30','2026-01-16',NULL);
/*!40000 ALTER TABLE `pob_stints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pobpersons`
--

DROP TABLE IF EXISTS `pobpersons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pobpersons` (
  `person_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `full_name` varchar(120) NOT NULL,
  `nationality` varchar(60) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `category` enum('CREW','PASSENGER','VISITOR','CONTRACTOR') NOT NULL,
  `crew_role` varchar(80) DEFAULT NULL,
  `embark_date` date NOT NULL,
  `disembark_date` date DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`person_id`),
  KEY `vessel_id` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pobpersons`
--

LOCK TABLES `pobpersons` WRITE;
/*!40000 ALTER TABLE `pobpersons` DISABLE KEYS */;
/*!40000 ALTER TABLE `pobpersons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reminders`
--

DROP TABLE IF EXISTS `reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reminders` (
  `reminder_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `modules_missing` text NOT NULL,
  `message` text NOT NULL,
  `sent_by` bigint(20) NOT NULL,
  `sent_to_email` varchar(160) NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` datetime DEFAULT NULL,
  `is_flagged` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`reminder_id`),
  KEY `idx_reminders_vessel_unread` (`vessel_id`,`is_read`,`is_flagged`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reminders`
--

LOCK TABLES `reminders` WRITE;
/*!40000 ALTER TABLE `reminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rob_products`
--

DROP TABLE IF EXISTS `rob_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rob_products` (
  `product_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `category` enum('LIQUID','DRY') NOT NULL,
  `product_name` varchar(120) NOT NULL,
  `unit` varchar(20) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rob_products`
--

LOCK TABLES `rob_products` WRITE;
/*!40000 ALTER TABLE `rob_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `rob_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rob_records`
--

DROP TABLE IF EXISTS `rob_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rob_records` (
  `rob_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `product` varchar(100) NOT NULL,
  `unit` varchar(20) NOT NULL,
  `category` enum('LIQUID','DRY') NOT NULL DEFAULT 'LIQUID',
  `previous_rob` decimal(12,3) DEFAULT 0.000,
  `loaded_today` decimal(12,3) DEFAULT 0.000,
  `discharged_today` decimal(12,3) DEFAULT 0.000,
  `produced_today` decimal(12,3) DEFAULT 0.000,
  `density` decimal(6,3) DEFAULT NULL,
  `daily_consumption` decimal(12,3) DEFAULT 0.000,
  `adjustment` decimal(12,3) DEFAULT 0.000,
  `current_rob` decimal(12,3) DEFAULT 0.000,
  `max_capacity` decimal(12,3) DEFAULT 0.000,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`rob_id`),
  KEY `fk_rob_vessel` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rob_records`
--

LOCK TABLES `rob_records` WRITE;
/*!40000 ALTER TABLE `rob_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `rob_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `runninghours`
--

DROP TABLE IF EXISTS `runninghours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `runninghours` (
  `rh_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `log_date` date NOT NULL,
  `generator_name` varchar(80) NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `duration_min` int(11) GENERATED ALWAYS AS (timestampdiff(MINUTE,concat(`log_date`,' ',`start_time`),concat(`log_date`,' ',`end_time`))) STORED,
  PRIMARY KEY (`rh_id`),
  KEY `vessel_id` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `runninghours`
--

LOCK TABLES `runninghours` WRITE;
/*!40000 ALTER TABLE `runninghours` DISABLE KEYS */;
/*!40000 ALTER TABLE `runninghours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) DEFAULT NULL,
  `role` enum('CAPTAIN','TEMP','OFFICE','ADMIN') NOT NULL,
  `full_name` varchar(120) NOT NULL,
  `email` varchar(160) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `temp_expires_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `email_2` (`email`),
  KEY `vessel_id` (`vessel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vessel_machines`
--

DROP TABLE IF EXISTS `vessel_machines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vessel_machines` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_id` bigint(20) NOT NULL,
  `machine_name` varchar(120) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vessel_machines`
--

LOCK TABLES `vessel_machines` WRITE;
/*!40000 ALTER TABLE `vessel_machines` DISABLE KEYS */;
INSERT INTO `vessel_machines` VALUES (1,1,'Water Filter','2025-12-23 07:02:40'),(2,1,'Main Generator 1','2025-12-23 07:02:59'),(3,1,'Main Generator 2','2025-12-23 07:03:15'),(4,1,'Main Generator 3','2025-12-23 07:03:26'),(5,1,'Main Generator 4','2025-12-23 07:03:39'),(6,1,'Emergency Generator','2025-12-23 07:03:56'),(7,3,'Genarator 1','2025-12-30 02:25:12'),(8,3,'Main Generator 2','2025-12-30 02:25:19'),(9,3,'Main Generator 3','2025-12-30 02:25:27'),(10,3,'Main Generator 4','2025-12-30 02:25:33'),(11,3,'Emergency Generator','2025-12-30 02:25:43');
/*!40000 ALTER TABLE `vessel_machines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vessels`
--

DROP TABLE IF EXISTS `vessels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vessels` (
  `vessel_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `vessel_name` varchar(120) NOT NULL,
  `imo_number` varchar(20) DEFAULT NULL,
  `call_sign` varchar(20) DEFAULT NULL,
  `flag` varchar(60) DEFAULT NULL,
  `vessel_type` varchar(60) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`vessel_id`),
  UNIQUE KEY `imo_number` (`imo_number`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vessels`
--

LOCK TABLES `vessels` WRITE;
/*!40000 ALTER TABLE `vessels` DISABLE KEYS */;
INSERT INTO `vessels` VALUES (1,'BAHTERA AZALEA','1234','AZALEA','Malaysia','Bulk','2025-09-17 04:04:00'),(3,'BAHTERA HAMOS','232243','HAMOS','Malaysia','Cargo','2025-10-06 03:53:48'),(4,'EXPLORER 515','2323234','515','MALAYSIA','BULK','2025-10-22 05:53:23');
/*!40000 ALTER TABLE `vessels` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-31 10:46:30
